.speed-container {
  width: 10vh;
  margin: 0 1vh 0 2vh;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  background: #ededed;
}

.speed-value {
  width: 15vh;
  font-weight: bolder;
  text-align: center;
  color: #919191;
}

.speed-button {
  padding: 5px 8px;
  border: none;
  color: #ededed;
  font-weight: bolder;
  background-color: #919191;
}

.button-left {
  border-radius: 10px 0 0 10px;
}

.button-right {
  border-radius: 0 10px 10px 0;
}
